<!DOCTYPE HTML>
<html>
<head>
	<title>Puskesmas Taman</title>
		<link href="/gym/css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="/gym/css/style.css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css' />
		<link href="/gym/css/magnific-popup.css" rel="stylesheet" type="text/css" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script type="text/javascript" src="/gym/js/jquery.min.js"></script>
		<script type="text/javascript" src="/gym/js/nav.js"></script>
		<!-- grid-slider -->
		<script type="text/javascript" src="/gym/js/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="/gym/js/jquery.contentcarousel.js"></script>
		<script type="text/javascript" src="/gym/js/jquery.magnific-popup.js"></script>
		<script type="text/javascript">
			function tampilkanwaktu(){         //fungsi ini akan dipanggil di bodyOnLoad dieksekusi tiap 1000ms = 1detik    
		        var waktu = new Date();            //membuat object date berdasarkan waktu saat 
		        var sh = waktu.getHours() + "";    //memunculkan nilai jam, //tambahan script + "" supaya variable sh bertipe string sehingga bisa dihitung panjangnya : sh.length    //ambil nilai menit
		        var sm = waktu.getMinutes() + "";  //memunculkan nilai detik    
		        var ss = waktu.getSeconds() + "";  //memunculkan jam:menit:detik dengan menambahkan angka 0 jika angkanya cuma satu digit (0-9)
		        document.getElementById("clock").innerHTML = (sh.length==1?"0"+sh:sh) + ":" + (sm.length==1?"0"+sm:sm) + ":" + (ss.length==1?"0"+ss:ss);
		    }
		</script>
</head>
<body onload="tampilkanwaktu();setInterval('tampilkanwaktu()', 1000);">
<!-- start header_bottom -->
	<div class="header-bottom">
		<div class="container">
			<div class="header-bottom_left">
				<span>Sabtu, 28  Oktober  2017 | </span>
				<span id="clock"></span>
			</div>
			<div class="clear"></div>
		</div>
    </div>

 <!-- start menu -->
 	<div class="menu">
 		<div class="container">
 			<div class="logo">
 				<a href=""><img src="http://localhost/puskesmas_taman/assets/gym/images/logo.png" alt=""/></a>
			 </div>
			 <div class="h_menu4">
			 <!-- start h_menu4 -->
			 	<a class="toggleMenu" href="#">Menu</a>
			 	<ul class="nav">
			 		<li class="active"><a href="http://localhost/puskesmas_taman/beranda">Beranda</a></li>
			 		<li class=""><a href="">Daftar Kamar</a></li>
			 		<li class=""><a href="">Pesan Sekarang</a></li>
			 		<li><a href="">Login Admin</a></li>
			 	</ul>
			 </div>
			<!-- end h_menu4 -->
			<div class="clear"></div>
		</div>
	</div>
<!-- end menu -->

<div class="main">
	<div class="about_banner_img">
		<div class="w3-content w3-section">
			<img src="/gym/images/lala1.jpg" class="img-responsive mySlides" style="width:100%" alt=""/>
			<!-- <img src="/gym/images/lala3.jpg" class="img-responsive mySlides" style="width:100%" alt=""/>-->
			<!-- <img src="/gym/images/lala7.png" class="img-responsive mySlides" style="width:100%" alt=""/>-->
		</div>
   	</div>
   	<div class="about_banner_wrap">
   		<h1 class="m_11">Hotel Lala</h1>
	</div>
  	<div class="border"> </div>
  	<div class="container">
  		<div class="row single-top">
  			<div class="col-md-8">
  				<div class="row about_box">
  					<div class="col-md-12">
  						<ul class="price2">
  							<h2 class="m_26">Visi</h2>
  								<i class="document"> </i>
									<p>"Terwujudnya pelayanan kesehatan yang bermutu, aman, memuaskan, profesional, komunikatif untuk mencapai masyarakat sehat di wilayah Kecamatan Taman"</p>
				 		</ul>
				 	</div>
		     		<div class="clear"></div>
     	    	</div>
     	    	<div class="row about_box">
					<div class="col-md-12">
					  <div class="box2">
					  	<div class="box1_left">	
					  		<div class="desc2">
					  			<h2 class="m_26">Misi</h2>
									<p>Puskesmas Taman Sidoarjo</p>
									<div class="clear"></div>
						 	</div>
						</div>
						<div class="box1_right"> 
		 					<h5 class="right_text1">1. Menyelenggarakan pelayanan kesehatan dasar yang bermutu, merata, aman, memuaskan, profesional, komunikatif dan terjangkau</h5> 
		 					<h5 class="right_text1">2. Mendorong kemandirian masyarakat untuk berperan aktif dalam membudayakan Perilaku Hidup Bersih dan Sehat</h5>
		 					<h5 class="right_text1">3. Meningkatkan kapasitas dan kapabilitas Sumber Daya Manusia Puskesmas</h5>
		 					<h5 class="right_text1">4. Meningkatkan peran serta masyarakat untuk pencapaian Pembangunan Milenium (MDG'S)</h5>
		 					<h5 class="right_text1">5. Mendorong kemandirian masyarakat untuk berperan aktif dalam Program BPJS Kesehatan dalam rangka Universal Coverage di tahun 2019</h5>
					    </div>
					   <div class="clear"></div>
					  </div>
					</div>
					<div class="clear"></div>
		     	</div>
			</div>
			<div class="col-md-4 ">
		    	<ul class="blog-list">
		    		<h4>Jenis Layanan</h4>
		    		<li>
		    			<a class="popup-with-zoom-anim" style="cursor:pointer" ref="3">Poli Umum</a>
		    		</li>
		    		<li>
		    			<a class="popup-with-zoom-anim" style="cursor:pointer" ref="4">Poli Gigi</a>
		    		</li>
		    		<li>
		    			<a class="popup-with-zoom-anim" style="cursor:pointer" ref="5">Poli TB dan Kusta</a></li><li><a class="popup-with-zoom-anim" style="cursor:pointer" ref="6">Poli MTBS</a></li><li><a class="popup-with-zoom-anim" style="cursor:pointer" ref="7">Poli Mata</a></li><li><a class="popup-with-zoom-anim" style="cursor:pointer" ref="8">Poli Hamil dan Kandungan</a></li><li><a class="popup-with-zoom-anim" style="cursor:pointer" ref="9">Poli KB</a></li><li><a class="popup-with-zoom-anim" style="cursor:pointer" ref="10">Poli Lansia</a></li><li><a class="popup-with-zoom-anim" style="cursor:pointer" ref="11">Poli Jiwa</a></li><li><a class="popup-with-zoom-anim" style="cursor:pointer" ref="12">Pojok Gizi</a></li><li><a class="popup-with-zoom-anim" style="cursor:pointer" ref="13">Klinik VCT</a></li><li><a class="popup-with-zoom-anim" style="cursor:pointer" ref="14">Layanan UGD</a></li><li><a class="popup-with-zoom-anim" style="cursor:pointer" ref="15">Layanan USG</a></li>
			   </ul>
			   <ul class="recent-list">
			   		<h4>Jadwal Layanan</h4>
			   		<li>
			   			<a href="#">Senin s/d Kamis</a><br /><span>07.30 - 13.00</span>
			   		</li>
				  	<li>
				  		<a href="#">Jumat</a><br /><span>07.30 - 10.30</span>
				  	</li>
				  	<li>
				  		<a href="#">Sabtu</a><br /><span>07.30 - 12.00</span>
				  	</li>
				  	<li>
				  		<a href="#">UGD / Persalinan</a><br /><span>24 Jam</span>
				  	</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Dialog Keterangan -->
<div id="small-dialog" class="mfp-hide">
	<div class="pop_up">
	 	<div class="payment-online-form-left">
			<form>
				<h4 class="title" id="jns-layanan" style="text-align:center">Jenis Layanan</h4>
				<h5>&nbsp;</h5>
				<center><img id="gambar-layanan" src="" style="height:420px;" alt=""/></center>
				<br />
				<span id="detail-layanan" style="text-align:justify">Detail Layanan</span>
				<div class="clear"> </div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	function get_date(){
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();
		
		if(dd){
			dd=0+dd;
		} 
		if(mm){
		    mm=0+mm;
		} 
		var today = yyyy+'-'+mm+'-'+dd;
		return today;
	}
	
	$(document).ready(function() {
		$(".popup-with-zoom-anim").click(function(){
			var id = $(this).attr("ref");
			$("#gambar-layanan").attr('src', '');
			$.ajax({
                async: true,
                type: 'post',
                url: 'http://puskesmastaman.net/beranda/view_jenis_layanan',
                data: 'id=' + id ,
                dataType: 'json',
                success: function (resp) {
                    if (resp.code == 200) {
                    	$("#jns-layanan").text(resp.data.judul);
                    	$("#detail-layanan").text(resp.data.detail1);
                    	$("#gambar-layanan").attr('src', 'http://puskesmastaman.net/uploads/informasi/'+resp.data.gambar);
                    } else {
                        alert("Belum ada data");
                    }
                },
                //error: function(ts) { alert("Belum ada data") },
            })
        });

		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',
			fixedContentPos: false,
			fixedBgPos: true,
			overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in',
			items: {
		      src: '#small-dialog',
		      type: 'inline'
		  	},
		});

		$(".close-popup").click(function(){
            $.magnificPopup.close();
        });

	});
	
</script>
<!-- <script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (var i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 3000); // Change image every 2 seconds
}

</script>-->
</body>
</html>