<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>History</title>
</head>
<body>
	<h2>History</h2>
	<table>
		<thead>
			<th>Transaction ID</th>
			<th>Nama Penginap</th>
			<th>Room Number</th>
			<th>Cash</th>
			<th>EDIT</th>
		</thead>
		<tbody>
			<th:block th:each="transaction : ${transactionList}">
				<tr>
					<td th:text="${transaction.id}" />
					<td th:text="${transaction.nama}"/>
					<td th:text="${transaction.room_number}"/>
					<td th:text="${transaction.cash}"/>
					<td><a th:href="@{/details/{id}(id=${transaction.id})}">EDIT</a></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</body>
</html>