<!DOCTYPE html>
<html>
<head>
    <title>RESERVE</title>
</head>
<body>
<h1 style="text-align:center">Reservasi</h1>
<form>
    <div align="center" margin="0">

        <br/><br/>

        Nama: <input type="nama" name="nama" placeholder="Name"/><br/>
        <br/>

        ID: <input type="name" name="identity_number" placeholder="Identity/Passport Number"/><br/>
        <br/>

        Address: <input type="address" name="address" placeholder="Address"/><br/>
        <br/>

        Gender: <input type="gender" name="gender" placeholder="Gender"/><br/>
        <br/>

        Nationality: <input type="nationality" name="nationality" placeholder="Nationality"/><br/>
        <br/>
        
        Room: <input type="room" name="id" placeholder="Enter Room ID"/><br/>
        <br/>
        
        Check In: <input type="check_in" name="check_in" placeholder="yyyy-mm-dd"/><br/>
        <br/>
        
        Check Out: <input type="check_out" name="check_out" placeholder="yyyy-mm-dd"/><br/>
        <br/>

        <input type="submit" value="Submit" />

    </div>
</form>
</body>
</html>